In [8]:
#Initial import
from pandastable_wrapper import data_explore
import pandas as pd

In [9]:
#read in pandas dataframe
df = pd.read_csv("table.csv")

In [10]:
#Overlook of the original dataframe
df.head()

       b      a      c      d      e   label                 date
0  2.395  3.447  4.587  3.895  1.793  orange  2014-01-02 07:00:00
1  2.734  3.431  8.798  5.074  2.091  yellow  2014-01-01 08:00:00
2  2.424  3.365  5.941  5.268  2.241  yellow  2014-01-17 14:00:00
3  2.696  3.265  3.562  6.330  1.775    blue  2014-01-15 17:00:00
4  2.719  3.257  7.079  5.686  2.509   green  2014-01-08 19:00:00

In [11]:
#Invoke the pandastable gui for data exploration
#The process will be blocked until closing the GUI
data_explore(df)

In [12]:
#The dataframe after my exploration
df.head()

       b      a      c      d      e   label                 date
0  2.395  3.447  4.587  3.895  1.793  orange  2014-01-02 07:00:00
1  2.734  3.431  8.798  5.074  2.091  yellow  2014-01-01 08:00:00
2  2.424  3.365  5.941  5.268  2.241  yellow  2014-01-17 14:00:00
3  2.696  3.265  3.562  6.330  1.775    blue  2014-01-15 17:00:00
4  2.719  3.257  7.079  5.686  2.509   green  2014-01-08 19:00:00